<a href="https://colab.research.google.com/github/hyunseo318/ESAA/blob/main/%EC%A0%84%EC%B2%98%EB%A6%AC_%EA%B8%88%EC%9C%B5%ED%8C%8C%EC%83%9D%EB%B3%80%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##**데이터 전처리**

In [2]:
import pandas as pd
import numpy as np

In [22]:
pd.options.display.float_format = '{:.2f}'.format

In [3]:
#train = pd.read_csv('/content/drive/MyDrive/ESAA/YB 1조/9565_hospital_data/train.csv')
#test = pd.read_csv('/content/drive/MyDrive/ESAA/YB 1조/9565_hospital_data/test.csv')

train = pd.read_csv('/content/drive/MyDrive/ESAA/22-2/DATA/train 지역변수 추가.csv')
test = pd.read_csv('/content/drive/MyDrive/ESAA/22-2/DATA/test 지역변수 추가.csv')

In [6]:
train.head()

,inst_id,OC,sido,sgg,openDate,bedCount,instkind,revenue1,salescost1,sga1,...,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange,hospital_count
0,1,open,choongnam,73,20071228,175.0,nursing_hospital,4.217530e+09,0.0,3.961135e+09,...,2.228769e+08,0.000000e+00,5.361169e+08,3.900000e+08,2.619290e+09,1.271224e+09,62.0,64.0,same,14.0
1,3,open,gyeongnam,32,19970401,410.0,general_hospital,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,801.0,813.0,same,5.0
2,4,open,gyeonggi,89,20161228,468.0,nursing_hospital,1.004522e+09,515483669.0,4.472197e+08,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,234.0,1.0,same,17.0
3,7,open,incheon,141,20000814,353.0,general_hospital,7.250734e+10,0.0,7.067740e+10,...,1.701860e+10,9.219427e+09,2.073641e+10,1.510000e+10,1.295427e+10,7.740829e+09,663.0,663.0,same,2.0
4,9,open,gyeongnam,32,20050901,196.0,general_hospital,4.904354e+10,0.0,4.765605e+10,...,3.007259e+10,1.759375e+10,2.136001e+10,1.410803e+10,5.561941e+06,9.025550e+09,206.0,197.0,same,5.0

In [8]:
train.columns

Index(['inst_id', 'OC', 'sido', 'sgg', 'openDate', 'bedCount', 'instkind',
       'revenue1', 'salescost1', 'sga1', 'salary1', 'noi1', 'noe1',
       'interest1', 'ctax1', 'profit1', 'liquidAsset1', 'quickAsset1',
       'receivableS1', 'inventoryAsset1', 'nonCAsset1', 'tanAsset1',
       'OnonCAsset1', 'receivableL1', 'debt1', 'liquidLiabilities1',
       'shortLoan1', 'NCLiabilities1', 'longLoan1', 'netAsset1', 'surplus1',
       'revenue2', 'salescost2', 'sga2', 'salary2', 'noi2', 'noe2',
       'interest2', 'ctax2', 'profit2', 'liquidAsset2', 'quickAsset2',
       'receivableS2', 'inventoryAsset2', 'nonCAsset2', 'tanAsset2',
       'OnonCAsset2', 'receivableL2', 'debt2', 'liquidLiabilities2',
       'shortLoan2', 'NCLiabilities2', 'longLoan2', 'netAsset2', 'surplus2',
       'employee1', 'employee2', 'ownerChange', 'hospital_count'],
      dtype='object')

In [ ]:
# df['분양가격'] = df['분양가격'].str.replace(',' ,'')

1) `inst_kind` : 결측치 1개 행 삭제

In [10]:
#train.drop(['inst_id','sgg'],axis=1,inplace=True)

train.dropna(subset=['instkind'],axis=0,inplace=True)
test.dropna(subset=['instkind'],axis=0,inplace=True)

####**3. 금융변수**

In [12]:
#NAN인 관측치 처리(dropna)
fin_list=['revenue1', 'salescost1', 'sga1', 'salary1', 'noi1', 'noe1',
       'interest1', 'ctax1', 'profit1', 'liquidAsset1', 'quickAsset1',
       'receivableS1', 'inventoryAsset1', 'nonCAsset1', 'tanAsset1',
       'OnonCAsset1', 'receivableL1', 'debt1', 'liquidLiabilities1',
       'shortLoan1', 'NCLiabilities1', 'longLoan1', 'netAsset1', 'surplus1',
       'revenue2', 'salescost2', 'sga2', 'salary2', 'noi2', 'noe2',
       'interest2', 'ctax2', 'profit2', 'liquidAsset2', 'quickAsset2',
       'receivableS2', 'inventoryAsset2', 'nonCAsset2', 'tanAsset2',
       'OnonCAsset2', 'receivableL2', 'debt2', 'liquidLiabilities2',
       'shortLoan2', 'NCLiabilities2', 'longLoan2', 'netAsset2', 'surplus2']
train.dropna(subset=fin_list, axis=0,inplace=True)

In [23]:
#0인 관측치 처리
train[fin_list]=train[fin_list].replace(0 ,-9999)
train.describe()

,inst_id,sgg,openDate,bedCount,revenue1,salescost1,sga1,salary1,noi1,noe1,...,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,hospital_count
count,292.00,292.00,292.00,288.00,292.00,292.00,292.00,292.00,292.00,292.00,...,292.00,292.00,292.00,292.00,292.00,292.00,292.00,284.00,281.00,292.00
mean,220.25,80.70,20050345.08,143.66,12924816861.12,2021723228.66,10366223015.22,5672604757.89,270492123.13,513029958.54,...,8173922298.84,3873803331.88,1515217420.21,4486557663.29,2719255729.56,5291978809.40,981972310.70,136.77,128.46,10.31
std,120.17,51.18,88598.36,118.06,20457190462.35,7472162886.12,14953292355.89,8091010259.95,803606896.94,1061911498.40,...,12570457175.31,6805137065.94,2957155613.20,7668237605.85,4569068212.94,10826728642.88,4696497242.25,148.94,139.16,6.21
min,1.00,1.00,19780124.00,0.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,...,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-20147802018.00,-2781506722.00,0.00,0.00,1.00
25%,115.75,37.00,20011170.00,52.75,3261233776.25,-9999.00,2825777796.25,1631012431.75,8179622.25,80070766.00,...,1308468464.00,294056906.00,-9999.00,25578782.00,-9999.00,1022285169.50,-9999.00,53.00,53.00,5.00
50%,230.50,73.00,20071164.50,134.50,5554591642.00,211257620.50,4717490084.50,2664001419.00,44829833.00,183961973.50,...,3801495098.00,1454651481.50,92712744.00,1975086930.50,1103085000.00,2899687950.00,-9999.00,79.00,78.00,10.00
75%,320.25,121.50,20110871.75,186.75,12863154235.00,910627798.75,10783483288.25,6380455550.50,205763018.75,422195357.00,...,8504298909.75,4387707152.50,1583475235.00,4912663016.75,3364674876.50,5372589027.00,103409875.50,171.75,161.00,17.00
max,428.00,178.00,20170607.00,656.00,151000000000.00,98503322990.00,103000000000.00,64035593950.00,9144170639.00,8686379500.00,...,85088583901.00,68468775764.00,17593752360.00,51503883627.00,32561472110.00,125000000000.00,68527297093.00,1200.00,1200.00,20.00

####**4. 파생변수**

In [25]:
## 성장성
# 매출액 증가율 = 당기매출액/ 전기매출액*100 -100
train['revenueGrowth']=(train['revenue1']/train['revenue2'])*100-100
# 총자산 증가율 = 당기총자산/ 전기총자산*100 -100
train['netAssetGrowth']=(train['netAsset1']+train['debt1'])/(train['netAsset2']+train['debt2'])*100 -100

## 수익성
# 자기자본순이익률(ROE)=당기순이익/자기자본*100
train['ROE']=(train['profit1']/train['netAsset1'])*100
# 매출순이익률 = 당기순이익/매출액*100
train['ROS'] = train.profit1/train.revenue1*100
# 배당성향 = 배당금/당기순이익
train['dividendPayoutRatio'] = (train.profit1-train.surplus1)/train.profit1
# 이자보상비율 = 영업이익/이자비용*100
# (영업손익은 매출액 등의 영업수익으로부터 매출원가ㆍ판매비와관리비 등의 영업비용을 차감한 개념, 영업 외 이익과 비용도 차감)
train['interestCoverageRatio'] = (train.revenue1-train.salescost1-train.sga1-train.noi1-train.noe1)/train.interest1*100

## 안정성
# 유동비율 = 유동자산/유동부채*100 (바람직: 200%이상)
train['liquidRatio']=(train['liquidAsset1']/train['liquidLiabilities1'])*100
# 당좌비율 = 당좌자산/유동부채*100 (바람직: 100%이상)
train['quickRatio']=(train['quickAsset1']/train['liquidLiabilities1'])*100
# 부채비율 = 부채/자본*100
train['debtRatio']=(train['debt1']/(train['debt1']+train['netAsset1']))*100
# 자기자본비율 = 자기자본/총자본*100
train['netAssetRatio']=train.netAsset1/(train.debt1+train.netAsset1)*100

## 활동성
# 재고자산회전율 = 매출원가/평균재고자산
train['inventoryTurnover']=train.salescost1/((train.inventoryAsset1+train.inventoryAsset2)/2)

In [26]:
train.describe()

,inst_id,sgg,openDate,bedCount,revenue1,salescost1,sga1,salary1,noi1,noe1,...,총자산증가율,ROE,매출액순이익율,배당성향,이자보상비율,유동비율,당좌비율,부채비율,자기자본비율,재고자산회전율
count,292.00,292.00,292.00,288.00,292.00,292.00,292.00,292.00,292.00,292.00,...,292.00,292.00,292.00,292.00,292.00,292.00,292.00,292.00,292.00,292.00
mean,220.25,80.70,20050345.08,143.66,12924816861.12,2021723228.66,10366223015.22,5672604757.89,270492123.13,513029958.54,...,-3171285.52,-16588.01,164074.63,-11.17,28354.29,-82757.19,-81625.22,60.19,39.81,-10407.45
std,120.17,51.18,88598.36,118.06,20457190462.35,7472162886.12,14953292355.89,8091010259.95,803606896.94,1061911498.40,...,16871690.08,4155063.25,2735530.00,187.95,8222757.71,1417168.85,1397749.84,40.18,40.18,81700.55
min,1.00,1.00,19780124.00,0.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,...,-170236399.80,-42658970.96,-225436.57,-2679.77,-61854278.82,-24216414.60,-23884586.82,-0.00,-437.04,-1070379.87
25%,115.75,37.00,20011170.00,52.75,3261233776.25,-9999.00,2825777796.25,1631012431.75,8179622.25,80070766.00,...,-2.03,-1.12,-0.00,1.00,-411.86,42.63,40.32,46.91,29.70,-0.00
50%,230.50,73.00,20071164.50,134.50,5554591642.00,211257620.50,4717490084.50,2664001419.00,44829833.00,183961973.50,...,0.86,2.38,1.66,1.00,-9.94,95.78,93.50,55.01,44.99,7.45
75%,320.25,121.50,20110871.75,186.75,12863154235.00,910627798.75,10783483288.25,6380455550.50,205763018.75,422195357.00,...,6.68,8.45,5.26,1.00,167.82,184.16,174.38,70.30,53.09,18.51
max,428.00,178.00,20170607.00,656.00,151000000000.00,98503322990.00,103000000000.00,64035593950.00,9144170639.00,8686379500.00,...,142.39,46737791.22,46737791.22,1397.85,91439187.56,4954.04,4935.40,537.04,100.00,418.79

####**RandomForest**

In [29]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
import warnings
warnings.filterwarnings('ignore')

In [30]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [31]:
#학습/테스트용 DataFrame 반환
X_features = train.drop(columns = ['OC', 'sido', 'instkind', 'ownerChange']) #int형 아닌 열 삭제. sido랑 instkind는 파생변수로 적용, ownerChange는 지울까,,
y_label = train['OC']

In [32]:
scaler = MinMaxScaler()
scaler.fit(X_features[:])

MinMaxScaler()

In [33]:
X_features.describe()

,inst_id,sgg,openDate,bedCount,revenue1,salescost1,sga1,salary1,noi1,noe1,...,총자산증가율,ROE,매출액순이익율,배당성향,이자보상비율,유동비율,당좌비율,부채비율,자기자본비율,재고자산회전율
count,292.00,292.00,292.00,288.00,292.00,292.00,292.00,292.00,292.00,292.00,...,292.00,292.00,292.00,292.00,292.00,292.00,292.00,292.00,292.00,292.00
mean,220.25,80.70,20050345.08,143.66,12924816861.12,2021723228.66,10366223015.22,5672604757.89,270492123.13,513029958.54,...,-3171285.52,-16588.01,164074.63,-11.17,28354.29,-82757.19,-81625.22,60.19,39.81,-10407.45
std,120.17,51.18,88598.36,118.06,20457190462.35,7472162886.12,14953292355.89,8091010259.95,803606896.94,1061911498.40,...,16871690.08,4155063.25,2735530.00,187.95,8222757.71,1417168.85,1397749.84,40.18,40.18,81700.55
min,1.00,1.00,19780124.00,0.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,...,-170236399.80,-42658970.96,-225436.57,-2679.77,-61854278.82,-24216414.60,-23884586.82,-0.00,-437.04,-1070379.87
25%,115.75,37.00,20011170.00,52.75,3261233776.25,-9999.00,2825777796.25,1631012431.75,8179622.25,80070766.00,...,-2.03,-1.12,-0.00,1.00,-411.86,42.63,40.32,46.91,29.70,-0.00
50%,230.50,73.00,20071164.50,134.50,5554591642.00,211257620.50,4717490084.50,2664001419.00,44829833.00,183961973.50,...,0.86,2.38,1.66,1.00,-9.94,95.78,93.50,55.01,44.99,7.45
75%,320.25,121.50,20110871.75,186.75,12863154235.00,910627798.75,10783483288.25,6380455550.50,205763018.75,422195357.00,...,6.68,8.45,5.26,1.00,167.82,184.16,174.38,70.30,53.09,18.51
max,428.00,178.00,20170607.00,656.00,151000000000.00,98503322990.00,103000000000.00,64035593950.00,9144170639.00,8686379500.00,...,142.39,46737791.22,46737791.22,1397.85,91439187.56,4954.04,4935.40,537.04,100.00,418.79

In [34]:
X_train,X_test,y_train,y_test = train_test_split(X_features,y_label, test_size = 0.2, random_state = 156, stratify = y_label)

#랜덤 포레스트 학습 및 별도의 테스트 세트로 예측 성능 평가
rf_clf = RandomForestClassifier(random_state=0)
rf_clf.fit(X_train,y_train)
pred = rf_clf.predict(X_test)
accuracy = accuracy_score(y_test, pred)
print('랜덤 포레스트 정확도: {0:.4f}'.format(accuracy))

ValueError: ignored